*{
  margin: 0;
  padding: 0%;
}

.card-parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 300px;
  margin: 20px;
  background-color: #222;
  color: #fff;
}

.card h3{
  text-align: center;
  padding: 40px 0px;
}
.card h4{
  text-align: center;
}

.card p{
  text-align: center;
  padding: 20px 0px;
}
